
InternalBlockDiagram Port > Label {
	visible:true;

}

InternalBlockDiagram * {
	gradient:none;
}

InternalBlockDiagram Port{
	elementIcon:false;
	gradient:none;
	fillColor: white
}

InternalBlockDiagram Connector > Label{
	visible:false;
}
	
InternalBlockDiagram Part{
	elementIcon:false;
	gradient:false;
}
	
[appliedStereotypes~="CONSENS::Function"]  {
	fillColor:white;
	gradient:none;
	elementIcon:false;
}

Property[appliedStereotypes~="Modal::SpecificationPart"][partKind=System]{
	fillColor:white;
}

Property[appliedStereotypes~="Modal::SpecificationPart"][partKind=Environment]{
	fillColor:#FFFF99;
}

InternalBlockDiagram Port > Label[type=StereotypeLabel]{
	visible:false;
}