Port {
	fillColor:white;
	gradient:none;
}

Property {
	fillColor:white;
	gradient:none;
}

Collaboration {
	fillColor:white;
	gradient:none;
}

Port > Compartment[type=StereotypeCompartment] {
	visible:false;
}

Port > Label{
	visible:false;
}

Connector > Label{
	visible:true;
}
Port[aggregation=composite][isComposite=true][isConjugated=true] {
	fontName:"Segoe UI";
	transparency:0.0;
	lineColor:#000000
}

