SequenceDiagram Lifeline{
	gradient:none;
	fillColor:#EEEEEE;
}

SequenceDiagram CombinedFragment{
	gradient:none;
	fillColor:white;
}

SequenceDiagram InteractionOperand{
	gradient:none;
	fillColor:white;
}

SequenceDiagram InteractionUse{
	gradient:none;
	fillColor:#EEEEEE;
	bold:true;
}

SequenceDiagram Gate{
	gradient:none;
	fillColor:grey;
}

[appliedStereotypes~="Modal::ClockReset"] {
	fillColor: grey;
}

[appliedStereotypes~="Modal::TimeCondition"][temperature=Hot]{
	fillColor: #C00000;
}

[appliedStereotypes~="Modal::TimeCondition"][temperature=Cold]{
	fillColor: #0070C0;
}

[appliedStereotypes~="Modal::Condition"][temperature=Hot]{
	fillColor: #C00000;
}

[appliedStereotypes~="Modal::Condition"][temperature=Cold]{
	fillColor: #0070C0;
}

[appliedStereotypes~="Modal::ModalMessage"] > Label{
	visible: false;
}

[appliedStereotypes~="Modal::ModalMessage"] > Label[type=StereotypeLabel]{
	visible: false;
}

[appliedStereotypes~="Modal::Assignment"] {
	fillColor: #005500;
}