* {
	gradient:none;
}

[appliedStereotypes~="SysML::Blocks::Block"] > Compartment{
	collapsed:true;
	visible:false;
	showTitle:false;
	lineColor:white;
	transparency:100;
	displayBorder:false;
}

[appliedStereotypes~="SysML::Blocks::Block"] {
	fillColor:white;
}

Collaboration {
	fillColor:white;
}


 Association > Label{
	visible:false;
}

 Interface > Compartment[kind="properties"] {
	collapsed:true;
	visible:false;
}

 Port > Label {
	visible:true;
	maskLabel: name type;
}

Property {
	fillColor:white;
}

Port[isConjugated=true] {
	fillColor:grey;
}

Port[isConjugated=false] {
	fillColor:white;
}

 Port{
	elementIcon:false;
	gradient:none;
}

CompositeStructureDiagram Port > Label[type=StereotypeLabel]{
	visible:false;
	gradient:none;
}


 Connector > Label{
	visible:false;
}
	
 Part{
	elementIcon:false;
}
	
[appliedStereotypes~="CONSENS::Function"]  {
	fillColor:white;
	gradient:none;
	elementIcon:false;
}

[appliedStereotypes~="CONSENS::Function"] > Compartment{
	visible: false;
}

[appliedStereotypes~="CONSENS::FunctionContainment"] > Label{
	visible: false;
}

SequenceDiagram Lifeline{
	gradient:none;
	fillColor:#EEEEEE;
}

SequenceDiagram CombinedFragment{
	gradient:none;
	fillColor:white;
}

SequenceDiagram InteractionOperand{
	gradient:none;
	fillColor:white;
}

SequenceDiagram InteractionUse{
	gradient:none;
	fillColor:#EEEEEE;
	bold:true;
}

SequenceDiagram Gate{
	gradient:none;
	fillColor:grey;
}

[appliedStereotypes~="Modal::ClockReset"] {
	fillColor: grey;
}

[appliedStereotypes~="Modal::TimeCondition"][temperature=Hot]{
	fillColor: #C00000;
	
}

[appliedStereotypes~="Modal::TimeCondition"][temperature=Cold]{
	fillColor: #0070C0;
	
}

[appliedStereotypes~="Modal::Condition"][temperature=Hot]{
	fillColor: #C00000;
	
}

[appliedStereotypes~="Modal::Condition"][temperature=Cold]{
	fillColor: #0070C0;
	
}

[appliedStereotypes~="Modal::ModalMessage"] > Label{
	visible: false;
}

[appliedStereotypes~="Modal::ModalMessage"] > Label[type=StereotypeLabel]{
	visible: false;
}

[appliedStereotypes~="Modal::Assignment"] {
	fillColor: #005500;
}

Property[appliedStereotypes~="Modal::SpecificationPart"][partKind=Environment]{
	fillColor:#FFFF99;
}

/*[appliedStereotypes~="Modal::ModalMessage"][temperature=Hot][execution=Monitor]{
	lineColor: #C00000;
	lineWidth: 2;
	lineStyle: dashed;
}

[appliedStereotypes~="Modal::ModalMessage"][temperature=Hot][execution=Execute]{
	lineColor: #C00000;
	lineWidth: 2;
}

 [appliedStereotypes~="Modal::ModalMessage"][temperature=Cold][execution=Monitor]{
	lineStyle: dashed;
	lineColor: #0070C0;
	lineWidth: 2;
	
	lineDashLength: 10;
	lineDashGap:3;
}

[appliedStereotypes~="Modal::ModalMessage"][temperature=Cold][execution=Execute]{
	lineColor: #0070C0;
	lineWidth: 2;
}*/


