
CompositeStructureDiagram Port > Label {
	visible:true;
	maskLabel: type;
}

CompositeStructureDiagram Collaboration {
	gradient:none;
	fillColor:white;
}

CompositeStructureDiagram Port{
	elementIcon:false;
	gradient:none;
	fillColor: white;
}

CompositeStructureDiagram Connector > Label{
	visible:false;
}	
	
CompositeStructureDiagram Property  {
	fillColor:white;
	gradient:none;
	elementIcon:false;
}



/*Property[appliedStereotypes~="Modal::SpecificationPart"][partKind=System]{
	fillColor:#CCECFF;
}*/

Property[appliedStereotypes~="Modal::SpecificationPart"][partKind=Environment]{
	fillColor:#FFFF99;
}

Property[appliedStereotypes~="ASILProfile::SafetyClassifiedElement"]{
	gradient:none;
	fillColor:#FFEEEE;
}

CompositeStructureDiagram Port > Label[type=StereotypeLabel]{
	visible:false;
}
